apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hirehub

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - secret.yaml
  - hpa.yaml
  - pdb.yaml

commonLabels:
  app.kubernetes.io/name: ai-service
  app.kubernetes.io/component: backend
  app.kubernetes.io/part-of: hirehub-platform
