# Kong CORS Plugin for HireHub API
# Allows cross-origin requests from the frontend domain
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: cors-plugin
  namespace: demo
  labels:
    app.kubernetes.io/part-of: hirehub
config:
  origins:
    - "https://msa-demo.aws.atomai.click"
    - "http://localhost:3000"  # Local development
  methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
    - HEAD
  headers:
    - Accept
    - Accept-Version
    - Content-Length
    - Content-MD5
    - Content-Type
    - Date
    - Authorization
    - X-Auth-Token
    - X-Requested-With
    - X-Request-ID
  exposed_headers:
    - X-Request-ID
    - X-RateLimit-Limit
    - X-RateLimit-Remaining
  credentials: true
  max_age: 3600
  preflight_continue: false
plugin: cors
