
# Terraform
**/.terraform/
*.terraform.lock.hcl

# Python
**/__pycache__/
*.pyc
.coverage

# Node.js / Next.js
**/node_modules/
**/.next/
**/out/
**/build/
*.tsbuildinfo

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
.env*.local
.env
