{{- if and .Values.enabled .Values.keda.enabled }}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "notification-service.fullname" . }}
  namespace: {{ include "notification-service.namespace" . }}
  labels:
    {{- include "notification-service.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    name: {{ include "notification-service.fullname" . }}
  pollingInterval: {{ .Values.keda.pollingInterval }}
  cooldownPeriod: {{ .Values.keda.cooldownPeriod }}
  minReplicaCount: {{ .Values.keda.minReplicaCount }}
  maxReplicaCount: {{ .Values.keda.maxReplicaCount }}
  advanced:
    horizontalPodAutoscalerConfig:
      behavior:
        scaleDown:
          stabilizationWindowSeconds: 300
          policies:
            - type: Percent
              value: 10
              periodSeconds: 60
        scaleUp:
          stabilizationWindowSeconds: 0
          policies:
            - type: Percent
              value: 100
              periodSeconds: 15
            - type: Pods
              value: 4
              periodSeconds: 15
          selectPolicy: Max
  triggers:
    - type: kafka
      metadata:
        bootstrapServers: {{ include "notification-service.kafkaBootstrapServers" . }}
        consumerGroup: {{ .Values.keda.kafka.consumerGroup }}
        topic: {{ .Values.keda.kafka.topic }}
        lagThreshold: {{ .Values.keda.kafka.lagThreshold | quote }}
        activationLagThreshold: {{ .Values.keda.kafka.activationLagThreshold | quote }}
        {{- if .Values.global }}
        {{- if .Values.global.kafka }}
        {{- if eq .Values.global.kafka.securityProtocol "SASL_SSL" }}
        sasl: scram_sha256
        tls: enable
        {{- end }}
        {{- end }}
        {{- end }}
      {{- if .Values.global }}
      {{- if .Values.global.kafka }}
      {{- if eq .Values.global.kafka.securityProtocol "SASL_SSL" }}
      authenticationRef:
        name: {{ include "notification-service.fullname" . }}-kafka-auth
      {{- end }}
      {{- end }}
      {{- end }}
{{- end }}
