apiVersion: v1
kind: Namespace
metadata:
  name: hirehub-dev
  labels:
    app.kubernetes.io/name: hirehub
    app.kubernetes.io/part-of: hirehub-platform
    environment: dev
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: hirehub-quota
  namespace: hirehub-dev
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    pods: "30"
    services: "20"
    configmaps: "50"
    secrets: "50"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: hirehub-limit-range
  namespace: hirehub-dev
spec:
  limits:
    - default:
        cpu: "200m"
        memory: "256Mi"
      defaultRequest:
        cpu: "50m"
        memory: "64Mi"
      type: Container
