{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "job-service.fullname" . }}
  namespace: {{ include "job-service.namespace" . }}
  labels:
    {{- include "job-service.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "job-service.selectorLabels" . | nindent 4 }}
{{- end }}
