apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: {{ .Values.ec2NodeClass.name }}
spec:
  amiFamily: {{ .Values.ec2NodeClass.amiFamily }}

  role: {{ .Values.ec2NodeClass.instanceProfile }}

  subnetSelectorTerms:
    - tags:
        {{- range $key, $value := .Values.ec2NodeClass.subnetSelectorTags }}
        {{ $key }}: {{ $value }}
        {{- end }}

  securityGroupSelectorTerms:
    - tags:
        {{- range $key, $value := .Values.ec2NodeClass.securityGroupSelectorTags }}
        {{ $key }}: {{ $value }}
        {{- end }}

  blockDeviceMappings:
  {{- range .Values.ec2NodeClass.blockDeviceMappings }}
    - deviceName: {{ .deviceName }}
      ebs:
        volumeSize: {{ .ebs.volumeSize }}
        volumeType: {{ .ebs.volumeType }}
        encrypted: {{ .ebs.encrypted }}
        deleteOnTermination: {{ .ebs.deleteOnTermination }}
  {{- end }}

  tags:
    Name: karpenter-{{ .Values.clusterName }}
    kubernetes.io/cluster/{{ .Values.clusterName }}: owned
    karpenter.sh/discovery: {{ .Values.clusterName }}
